# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
/BuildScripts/Clients/Windows
/Builds
Output/
Assets/Plugins/LeanTweenPath.cs
Assets/Plugins/LeanTweenPath.cs.meta
Assets/Plugins/LeanTweenPathControl.cs
Assets/Plugins/LeanTweenPathControl.cs.meta
/Clients
/Assets/StreamingAssets/parse
/Assets/StreamingAssets/Thunderstone
/Assets/StreamingAssets/Woodside
Assets/StreamingAssets/parse.meta
Assets/StreamingAssets/thunderstone.meta
Assets/StreamingAssets/woodside.meta
