# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db

# ============== #
# Custom Ignores #
# ============== #

/Clients
Assets/StreamingAssets/Config.json
Assets/StreamingAssets/Config.json.meta
Resources.meta
Scenes.meta
Scripts.meta
ThirdParty.meta
Plugins.meta
Prefabs.meta
Examples.meta
Docs.meta
Art.meta
LICENSE.meta
CHANGELOG.md.meta
README.md.meta
Travis.meta
exclude-filter.txt
exclude-filter.txt.meta
/Travis/UnityTestProject/Assets/StreamingAssets/Config.json
/Travis/UnityTestProject/Assets/StreamingAssets/Config.json.meta
/Travis/UnityTestProject/Assets/StreamingAssets/Config.json.enc.meta
/Config.json
/Config.json.meta
/Config.json.enc.meta
/Travis/build.sh.meta
/Travis/createProject.sh.meta
/Travis/installSDK.sh.meta
/Travis/installUnity.sh.meta
/Travis/README.md.meta
/Travis/runTests.sh.meta
/Travis/TravisBuild.cs.meta
